#main {
  display: inline-flex;
   /* padding-left:60px ; */
   padding-top: 30px;
}
#box1 {
  height: 500px;
  width: 450px;
  margin: 40px;
}
#box2 {
  height: 500px;
  width: 450px;
  margin: 40px;
}


#main2 {
  display: inline-flex;
   /* padding-left:60px ; */
}
#box3 {
  height: 500px;
  width: 450px;
  margin: 40px;
}
#box4 {
  height: 500px;
  width: 450px;
  margin: 40px;
}


#main3 {
  display: inline-flex;
   padding-left:60px ;
}
#box5 {
  height: 500px;
  width: 450px;
  margin: 40px;
}
#box6 {
  height: 500px;
  width: 450px;
  margin: 40px;
}


#main4 {
  display: inline-flex;
   padding-left:60px ;
}
#box7 {
  height: 500px;
  width: 450px;
  margin: 40px;
}
#box8{
  height: 500px;
  width: 450px;
  margin: 40px;
}


#main5 {
  display: inline-flex;
   padding-left:60px ;
}
#box9 {
  height: 500px;
  width: 450px;
  margin: 40px;
}
#box10 {
  height: 500px;
  width: 450px;
  margin: 40px;
}


#main6 {
  display: inline-flex;
   padding-left:60px ;
}
#box11 {
  height: 500px;
  width: 450px;
  margin: 40px;
}
#box12 {
  height: 500px;
  width: 450px;
  margin: 40px;
}


#main7 {
  display: inline-flex;
   padding-left:60px ;
}
#box13 {
  height: 500px;
  width: 450px;
  margin: 40px;
}
#box14 {
  height: 500px;
  width: 450px;
  margin: 40px;
}


#main8 {
  display: inline-flex;
   padding-left:60px ;
}
#box15 {
  height: 500px;
  width: 450px;
  margin: 40px;
}
#box16 {
  height: 500px;
  width: 450px;
  margin: 40px;
}